<form action="/filter" method="post" class="searchandfilter">
  <ul>

    <li class="sf-field-taxonomy-color" data-sf-field-input-type="multiselect">
      <h4>Цвет</h4>
      <label>
        <select data-combobox="1" data-placeholder="Все" data-operator="or" multiple="" name="color[]" class="sf-input-select" title="">
          <% TermTaxonomy.where(taxonomy: "color").joins(:term).includes(:term).each do |taxonomy| %>
            <%= content_tag(:option, taxonomy.term.name, class: "sf-level-0", value: taxonomy.term.slug, selected: (params[:color] || []).include?(taxonomy.term.slug)) %>
          <% end %>
        </select>
      </label>
    </li>

    <li class="sf-field-taxonomy-naznachenie" data-sf-field-input-type="multiselect">
      <h4>Назначение</h4>
      <label>
        <select data-combobox="1" data-placeholder="Все" data-operator="or" multiple="" name="naznachenie[]" class="sf-input-select" title="">
          <% TermTaxonomy.where(taxonomy: "naznachenie").joins(:term).includes(:term).each do |taxonomy| %>
            <%= content_tag(:option, taxonomy.term.name, class: "sf-level-0", value: taxonomy.term.slug, selected: (params[:naznachenie] || []).include?(taxonomy.term.slug)) %>
          <% end %>
        </select>
      </label>
    </li>

    <li class="sf-field-taxonomy-vors" data-sf-field-input-type="select">
      <h4>Ворс</h4>
      <label>
        <select data-combobox="1" name="vors[]" class="sf-input-select" title="">
          <option class="sf-level-0 sf-item-0 sf-option-active" selected="" data-sf-count="0" value="">Все</option>
          <% TermTaxonomy.where(taxonomy: "vors").joins(:term).includes(:term).each do |taxonomy| %>
            <%= content_tag(:option, taxonomy.term.name, class: "sf-level-0", value: taxonomy.term.slug, selected: (params[:vors] || []).include?(taxonomy.term.slug)) %>
          <% end %>
        </select>
      </label>
    </li>

    <li class="sf-field-post-meta-dlina_vorsa" data-sf-field-name="dlina_vorsa" data-sf-field-type="post_meta" data-sf-field-input-type="range-slider" data-sf-meta-type="number">
      <h4>Высота ворса</h4>
      <div data-start-min="0" data-start-max="90" data-min="0" data-max="90" data-step="0" data-decimal-places="0" data-thousand-seperator="" data-display-values-as="textinput"
           data-sf-field-name="dlina_vorsa"
           class="sf-meta-range sf-meta-range-slider">
        <% min_vors, max_vors = params[:dlina_vorsa] %>
        <label><input class="sf-input-range-number sf-range-min sf-input-number" min="0" max="90" step="0" name="dlina_vorsa[]" type="number" value="<%= min_vors.to_i %>" title=""/></label>
        <span class="sf-range-values-seperator"> - </span>
        <label><input class="sf-input-range-number sf-range-max sf-input-number" min="0" max="90" step="0" name="dlina_vorsa[]" type="number" value="<%= max_vors || 90 %>" title=""/></label>
        <div class="meta-slider"></div>
      </div>
    </li>

    <li class="sf-field-submit" data-sf-field-name="submit" data-sf-field-type="submit" data-sf-field-input-type="">
      <input type="submit" name="submit" value="Подобрать"/>
    </li>
  </ul>
</form>
