<form action="/filter" method="post" class="searchandfilter">
  <ul>

    <li class="sf-field-taxonomy-color" data-sf-field-input-type="multiselect">
      <h4>Цвет</h4>
      <label>
        <select data-combobox="1" data-placeholder="Все" data-operator="or" multiple="" name="color[]" class="sf-input-select" title="">
          <% TermTaxonomy.where(taxonomy: "color").joins(:term).includes(:term).each do |taxonomy| %>
            <%= content_tag(:option, taxonomy.term.name, class: "sf-level-0", value: taxonomy.term.slug, selected: (params[:color] || []).include?(taxonomy.term.slug)) %>
          <% end %>
        </select>
      </label>
    </li>

    <li class="sf-field-taxonomy-naznachenie" data-sf-field-input-type="multiselect">
      <h4>Назначение</h4>
      <label>
        <select data-combobox="1" data-placeholder="Все" data-operator="or" multiple="" name="naznachenie[]" class="sf-input-select" title="">
          <% TermTaxonomy.where(taxonomy: "naznachenie").joins(:term).includes(:term).each do |taxonomy| %>
            <%= content_tag(:option, taxonomy.term.name, class: "sf-level-0", value: taxonomy.term.slug, selected: (params[:naznachenie] || []).include?(taxonomy.term.slug)) %>
          <% end %>
        </select>
      </label>
    </li>

    <li class="sf-field-taxonomy-vors" data-sf-field-input-type="select">
      <h4>Ворс</h4>
      <label>
        <select data-combobox="1" name="vors[]" class="sf-input-select" title="">
          <option class="sf-level-0 sf-item-0 sf-option-active" selected="" data-sf-count="0" value="">Все</option>
          <% TermTaxonomy.where(taxonomy: "vors").joins(:term).includes(:term).each do |taxonomy| %>
            <%= content_tag(:option, taxonomy.term.name, class: "sf-level-0", value: taxonomy.term.slug, selected: (params[:vors] || []).include?(taxonomy.term.slug)) %>
          <% end %>
        </select>
      </label>
    </li>

    <li class="sf-field-post-meta-dlina_vorsa" data-sf-field-name="dlina_vorsa" data-sf-field-type="post_meta" data-sf-field-input-type="range-slider" data-sf-meta-type="number">
      <h4>Высота ворса</h4>
      <div class="values_slider_vors">
        <input id="min_vors_slide" name="dlina_vorsa[]" type="number">
        <input id="max_vors_slide" name="dlina_vorsa[]" type="number">
      </div>
      <% min_vors, max_vors = params[:dlina_vorsa] %>
      <div id="dlina_vorsa_slide" data-min="<%= min_vors || 0 %>" data-max="<%= max_vors || 100 %>"></div>
    </li>

    <li class="sf-field-submit" data-sf-field-name="submit" data-sf-field-type="submit" data-sf-field-input-type="">
      <input type="submit" name="submit" value="Подобрать"/>
    </li>
  </ul>
</form>
